$start-color: rgb(223, 13, 6);
$mid-color: rgb(204, 40, 19);
$end-color:rgb(160, 23, 13);
$color1:rgba(128, 128, 128, 0.562);
$color2:rgba(128, 128, 128, 0.932);
$color3:rgba(173, 162, 162, 0.945);

body{
    font-family: "Roboto",sans-serif;
    margin:0;
    background-image: linear-gradient(to left,$color1,$color2,$color3);


}



.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    background-image: linear-gradient(to right,$start-color,$mid-color,$end-color);
    padding-bottom: 10px;
    padding-top: 10px;
    z-index: 999;
    .img {
        position: relative;
        left:3%;
        top: 3%;

    }

    nav {
        position: relative;
        left:80%;
        padding-top: 10px;
        ul {
            display: flex;
            list-style-type: none;
            li{
                padding-right: 20px;
                a{
                    text-decoration: bold;
                    color: white;

                }
            }
           

    }    }
}
.filler{
    
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    max-width: 20px;
    max-height: 100%;
    


}
.container{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    background-image: linear-gradient(to left,$color1,$color2,$color3);

  div {
      margin: 0% 5%;
      text-align: center;
  }
  .image-cam {
    width:300px;
    border:0;
    border-radius:15px ;
    width:300px;
    transition: 0.4s;
  }
  .image-cam:hover{ 
      transform: translateY(-5px);
      webkit-box-shadow: 10px 10px 26px 3px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 26px 3px rgba(0,0,0,0.75);
box-shadow: 10px 10px 26px 3px rgba(0,0,0,0.75);
transition: 0.4s;
  }

}


.size-control{
    font-size: 20px;
    font-weight: lighter;
    color:#160404;
    background-image: linear-gradient(to left,$color1,$color2,$color3);

    
}


#about {
    margin-left: 3%;
    background-image: linear-gradient(to left,$color1,$color2,$color3);

    .size-control{
        font-size: 20px;
        font-weight: lighter;
    }
#contact info{
    margin-left: ;
    display: flex;
    background-image: linear-gradient(to left,$color1,$color2,$color3);
    .form-group{
        .form-input{
            font-size: 25px;
            border-radius: 5px;
        }
    }
}
.btn{
    padding: 10px 25px;
    border: o;
    border-radius: 50px;
    color: white;
    background-image: linear-gradient(to left,$start-color,$mid-color,$end-color);
    font-size: 25px;
    cursor:pointer;
    outline: none;
}
.foot{
    text-align: center;
    color: white;
    background-color: $mid-color;
    padding-bottom: 0.1%;
    h3{
        padding-top: 1%;
        font-weight: lighter;
    }
}


}